<div class="content">

  <div fxLayout="row">

    <mat-toolbar class="toolbar-content">
      <div fxFlex="50%" fxLayoutAlign="start center">
        <button mat-icon-button mat-button [matMenuTriggerFor]="menu">
          <mat-icon class="icon-menu">menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <!-- redireciona para o welcome -->
          <button mat-menu-item><a routerLink="" class="link">Home</a></button>
          <!-- redireciona para procurar personagens -->
          <button mat-menu-item><a (click)="cleanBtn()" class="link">Characters</a></button>
          <!-- redireciona para videos do youtube com os melhores -->
          <button mat-menu-item><a routerLink="/videos" class="link">Videos</a></button>
        </mat-menu>
      </div>

      <div fxFlex="50%" fxLayoutAlign="end center" class="btn-menu">
        <span class="title">Rick and Morty</span>
      </div>
    </mat-toolbar>


  </div>

  <!-- <div fxLayout="column" fxLayoutAlign="space-around none">
    <div *ngFor="let video of videosModel">
      <div *ngFor="let item of video.youTubeModel.items">




      <div fxLayout="row" fxLayoutAlign="center center"class="card-container">
        <mat-card class="card-style" focus tabindex="1" fxLayout="row" fxLayoutAlign="space-around center">

    


            <div>
              <iframe width="620" height="415" [src]="video.urlVideo | safe">
              </iframe>
            </div>

            <mat-card-header>
              <mat-card-title class="card-title"> Title {{ item.snippet.title}}</mat-card-title>
              <mat-card-subtitle class="card-subtitle"> Description {{ item.snippet.description }}</mat-card-subtitle>
          
            </mat-card-header>
          </mat-card>
    </div>
      

      </div>

    </div> -->




  <div *ngFor="let allvideos of videosModel.youTubeModel" class="col-xl-3 col-md-6 mb-4">
    <div *ngFor="let video of allvideos.items">


      <div fxLayout="row" fxLayoutAlign="center center" class="card-container">

        <mat-card class="card-style">
          <div fxLayout="row" fxLayoutAlign="space-around center">

            <div class="video-container">
              <iframe *ngIf="video.id" class="video-iframe" type="text/html" [src]="getUrl(video.id) | safe"
                frameborder="0" allowfullscreen class="video-iframe"></iframe>
            </div>

            <mat-card-header class="card-name-field">
              <mat-card-title class="card-title">{{video.snippet.title}}</mat-card-title>
              <mat-card-subtitle class="card-subtitle">{{video.snippet.description.slice(0, 200) + '...'}}
              </mat-card-subtitle>
            </mat-card-header>

          </div>
        </mat-card>

      </div>


    </div>
  </div>
