
.content {
    position: relative;
    height: 100vh;
    width: 100vw;
    /* adicionando imagem de fundo */
    background: url('../../../assets/background.jpg');
    background-color: #fff;
    background-size: cover;
    margin-top: 0 !important;
    padding-top: 35px !important;
    overflow: hidden;
    
    
}
.toolbar-content {
    background-color: transparent;
}



.title {
    padding-left: 25px;
    font-size: 7rem;
    font-family: 'Shadows Into Light', cursive;
    /* color: rgba(126, 223, 223, 1) ; */
    color: #9cd1e6;
    
}

.icon-menu{
    font-size: 5rem;
    color: #9cd1e6;
    ;
}

.icon-menu:hover {
    color: #fff;
}

.btn-menu{
    padding-right: 35px;
}


.link{
    text-decoration: none;

}



.link:link {
    text-decoration: none;
  }
  
  .link:visited {
    text-decoration: none;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  
  .link:active {
    text-decoration: underline;
  }