<div class="toolbar-container" fxLayout="row" fxLayoutAlign="center">
  

      <mat-toolbar class="toolbar">

        
          <div fxFlex="50%" fxLayoutAlign="start center" >
          <span> Rick and Morty</span>
          </div>
    
          
            <div fxFlex="50%" fxLayoutAlign="end center">
              
              <form routerLink class="search-form" (ngSubmit)="onSubmit()">
                
                <input class="search-input" type="text" name="search" ngModel placeholder="Search Characters" />
                
                <button class="search-button">Search</button>
              </form>
            </div>
     
   
      </mat-toolbar>
    </div>


<app-characters-list></app-characters-list>
