

.toolbar-container{
    padding-top: 60px;
    width: 100vw;
    
}


.toolbar { 
    color: #9cd1e6;;
    background-color: transparent;
  
}

.title {
    font-size: 5rem;
    font-family: 'Shadows Into Light', cursive;
    color: #9cd1e6;
    margin-left: 60px;
}



.search-input {
    margin-left: 10px;
    padding: 10px;
    width: 300px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    outline: none;
    border: none;
}



.search-container{
    padding-left: 360px !important;
    
}

.count-found-result{
    font-size: 16px;
    padding-left: 10px;
    
    color: #fff;

}


.option-btn {
    font-family: 'Shadows Into Light', cursive;
    font-size: 5px;
    margin-left: 10px;
    
    
}

.field-btn{
    padding:5px; 
    font-size: 13px;
    
    color: #fff;
    
} 


.radio-btn-content{
    
    width: auto;
    height: 35px;
    /* background-color:#fff; */
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    outline: none;
    border: none;

}


.icon-menu{
    font-size: 5rem;
    color: #9cd1e6;
    margin-right:15px ;
}

.icon-menu:hover {
    color: #fff;
}

.btn-menu{
    padding-right: 35px;
}

.link{
    text-decoration: none;

}



.link:link {
    text-decoration: none;
  }
  
  .link:visited {
    text-decoration: none;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  
  .link:active {
    text-decoration: underline;
  }

  :host ::ng-deep .mat-radio-outer-circle{
    color: #fff;
    background-color: #fff;
    border-color: #fff;
  }