

<div class="toolbar-container" fxLayout="row" fxLayoutAlign="center">
  
  

      <mat-toolbar class="toolbar">

        
          <div fxFlex="50%" fxLayoutAlign="start center" >

        <button mat-icon-button mat-button [matMenuTriggerFor]="menu">
          <mat-icon class="icon-menu">menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <!-- redireciona para o welcome -->
          <button mat-menu-item><a routerLink="" class="link" >Home</a></button> 
          <!-- redireciona para procurar personagens -->
          <button mat-menu-item><a routerLink="searchCharacters" class="link">Characters</a></button>
          <!-- redireciona para videos do youtube com os melhores -->
          <button mat-menu-item><a routerLink="/videos" class="link">Videos</a></button>
        </mat-menu>
          <span class="title"> Rick and Morty</span>
          </div>
    
          <!-- search live or dead -->
          
            <div fxLayout="column"  fxFlex="50%" fxLayoutAlign="end center" class="search-container">

              
                <mat-radio-group  class="option-btn" (change)="searchStatus($event)" [(ngModel)]="status" >
                  <mat-radio-button color="primary" value="alive" class="field-btn">Alive</mat-radio-button>
                  <mat-radio-button color="primary"  value="dead" class="field-btn">Dead</mat-radio-button>
                  <mat-radio-button  color="primary" value="unknown" class="field-btn"> Unknown</mat-radio-button>
                  <mat-radio-button  color="primary" value="all" class="field-btn" checked> All</mat-radio-button>
                </mat-radio-group>                  
              

              <form  >   
                         
                <input class="search-input" type="text" name="searchName" id="searchName" (keyup)="onKey($event)" [(ngModel)]="searchFromCharacterList" placeholder="Search Characters" />

                  <p fxLayoutAlign="end " class="count-found-result"> {{countCharacterSearch}}  Characters Found  </p>
                 
              </form>
              
             
            </div>
     
            
   
      </mat-toolbar>
    </div>
