




.toolbar { 
    color: #7edfdf ;
    /* font-style: italic;    */
    
    background-color: #dc7b35;
  
}

.title {
    font-size: 5rem;
    font-family: 'Shadows Into Light', cursive;
}



.search-input {
    margin-left: 10px;
    padding: 10px;
    width: 300px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: none;
    border: none;
}

button{
     outline: none;
    border: none;
    background-color: #3f51b5;
    padding: 10px;
    border-left: 1px solid rgba(0,0,0, 0.3);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #fff;
    font-weight: 700;
    transition-duration: 0.3s ;
    cursor: pointer;
}

button:hover {
color: #3f51b5;
        background-color: #fff;
        border: 1px solid #3f51b5;
}

.btn-container{
    padding-right: 30px;
}

.count-found-result{
    font-size: 15px;
    padding-left: 10px;
    color:#fcf198;
}


