
.content {
    padding: 16px;
    margin-top: 80px;
}

.card-title{
    
    font-family: 'Shadows Into Light', cursive;
    font-size: 24px;

}

.card-subtitle {
    font-family: 'Shadows Into Light', cursive;
    font-size: 24px;
}



.btn-more-info{

    margin-top: 30px;
    opacity: 0.9; 
    
}
    .btn-more-info:hover {
        color: #3f51b5;
                background-color: #fff;
                border: 1px solid #3f51b5;
        }

.card-style{
    
    background-color: rgba(255, 255, 255, 0.6); 
    border-width:3px;  
    border-style:outset;
    border-color: #9cd1e6;  
    margin: 28px;  
}


/* make image responsive inside div */
.img-dimension{
    max-width: 100%;
    height: auto;
    border-width: 2px;
    border-color: black;  
    border-style:outset;
   
}

.paginator-style {
    background-color:transparent;
    color: #fff;
}

