
<div class="display-cards">
    
        <mat-card    
        class="card-style"
          focus
          tabindex="1"
          *ngFor="let listaPersonagem of listaPersonagens.results"
        >
          <mat-card-header>
            <mat-card-title>Name : {{ listaPersonagem.name }}</mat-card-title>
            <mat-card-subtitle> Status: {{ listaPersonagem.status }}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-img src="{{ listaPersonagem.image }}" />
          <button mat-button class="btn-more-info" color="primary" (click)="moreInfo()"> More info</button>
        </mat-card>
        <div>

          <mat-paginator [pageSizeOptions]="[20]" showFirstLastButtons
         (page)="getServerData($event)"
         [pageIndex]="pageIndex"
         [length]="listaPersonagens.info.count"></mat-paginator>
        </div>
    
    </div>   


<!-- 

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="listaPersonagens.results">
    
        
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
    
        
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Status </th>
          <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>
    
     
        <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef> Image </th>
          <td mat-cell *matCellDef="let element"> 
          <img mat-card-img src="{{ element.image }}" />
            </td>
        </ng-container>
    
      
        <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef> Symbol </th>
          <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[20]" showFirstLastButtons
       (page)="getServerData($event)"
       [pageIndex]="pageIndex"
       [length]="listaPersonagens.info.count"></mat-paginator>
    </div>  -->