<div class="content">
  

    <div fxLayout="row wrap" fxLayoutAlign="space-evenly center">
      <div fxFlex="25%"  *ngFor="let listaPersonagem of listaPersonagens.results" >

        <mat-card    
        class="card-style"
          focus
          tabindex="1"
          
        >
          <mat-card-header>
            <mat-card-title class="card-title">Name : {{ listaPersonagem.name }}</mat-card-title>
            <mat-card-subtitle class="card-subtitle"> Status: {{ listaPersonagem.status }}</mat-card-subtitle>
          </mat-card-header>

          <div fxLayout="row" fxLayoutAlign="center" >
            <img mat-card-img class="img-dimension" src="{{ listaPersonagem.image }}" />
          </div>
         
          <div fxLayout="row" fxLayoutAlign="end center" >
            <button mat-button  color="primary" class="btn-more-info" (click)="moreInfo(listaPersonagem.id)">
              <span class="more-info"> More Info</span>
              </button>
          </div>
         
        </mat-card>
      </div>

    </div>
  
        <div>

          <mat-paginator class="paginator-style"
          [pageSizeOptions]="[20]" showFirstLastButtons
         (page)="getServerData($event)"
         [pageIndex]="pageIndex"
         [length]="listaPersonagens.info.count"></mat-paginator>
        </div>
    
    </div>   

 
   