
.content {
    padding: 16px;
    margin-top: 30px;
}



.btn-more-info{
    background-color:#99d9d9 ;
    box-shadow: rgba(7, 6, 6, 0.5) 2px 2px;
    margin-top: 30px;
    opacity: 0.9;

}

.card-style{
    
    background-color: #fcf198;
    border: solid 5px #99d9d9 ;
    margin: 28px;  
}


/* make image responsive inside div */
.img-dimension{
    max-width: 100%;
    height: auto;
}

