
.content {
    padding: 16px;
    margin-top: 30px;
}

.card-title{
    
    font-family: 'Shadows Into Light', cursive;
    font-size: 24px;

}

.card-subtitle {
    font-family: 'Shadows Into Light', cursive;
    font-size: 24px;
}



.btn-more-info{

    background-color:#99d9d9 ;
    box-shadow: rgba(7, 6, 6, 0.5) 2px 2px;
    margin-top: 30px;
    opacity: 0.9;
    
}
    .btn-more-info:hover {
        color: #3f51b5;
                background-color: #fff;
                border: 1px solid #3f51b5;
        }

.card-style{
    
    background-color: #fcf198;
    border: solid 5px #99d9d9 ;
    margin: 28px;  
}


/* make image responsive inside div */
.img-dimension{
    max-width: 100%;
    height: auto;
}

.paginator-style {
    background-color: #dc7b35;
}

