
<div class="container">
  
    
      <h1 class="heading-more-info">Character Information</h1>
    
    
    <mat-card class="card-style" focus >
  


        <div fxLayout="row" fxLayoutAlign="space-around center"  >

      

            <img mat-card-img class="img-dimension" src="{{ personagens.image }}" />
         
        
        
          
            
            <mat-card-header>
              <mat-card-title class="card-title"> Name : {{ personagens.name }}</mat-card-title>
              <mat-card-subtitle class="card-subtitle"> Status: {{ personagens.status }}</mat-card-subtitle>
              <mat-card-subtitle class="card-subtitle"> Species: {{ personagens.species }}</mat-card-subtitle>
              <mat-card-subtitle class="card-subtitle"> Gender: {{ personagens.gender }}</mat-card-subtitle>
              <mat-card-subtitle class="card-subtitle"> Episodes:  {{personagens.episode }}   </mat-card-subtitle>
  
            </mat-card-header>
            </div>
         
        
        </mat-card>

        <div fxLayout="row" fxLayoutAlign="end center" >

          <button mat-raised-button color="primary" (click)=backHome() class="btn-back-home" > Home</button>     
        </div>
        
</div>




