<div class="content">
  

    <div  fxLayout="row">
  
      <mat-toolbar class="toolbar-content">

        <div  fxFlex="50%" fxLayoutAlign="start center"  class="btn-menu">
          <span class="title">Rick and Morty</span>
       </div>

        <div fxFlex="50%" fxLayoutAlign="end center"  >          
          <button mat-icon-button mat-button [matMenuTriggerFor]="menu">
            <mat-icon class="icon-menu">menu</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <!-- redireciona para o welcome -->
            <button mat-menu-item><a routerLink="" class="link" >Home</a></button> 
            <!-- redireciona para procurar personagens -->
            <button mat-menu-item (click)="cleanBtn()" class="link">Search Characters</button>
            <!-- redireciona para videos do youtube com os melhores -->
            <button mat-menu-item><a routerLink="/videos" class="link">Best Moments</a></button>
          </mat-menu>  
        </div>
        
        
        
      </mat-toolbar>
    </div>

  

    <div fxLayout="row" fxLayoutAlign="center center"class="card-container">

    
    
    <mat-card class="card-style" focus>
      <h1 class="heading-more-info">Character Information</h1>



    <div fxLayout="row" fxLayoutAlign="space-around center">



      <img mat-card-img class="img-dimension" src="{{ personagens.image }}" />

      <mat-card-header class="card-name-field">
        <mat-card-title class="card-title"> Name : {{ personagens.name }}</mat-card-title>
        <mat-card-subtitle class="card-subtitle"> Status: {{ personagens.status }}</mat-card-subtitle>
        <mat-card-subtitle class="card-subtitle"> Species: {{ personagens.species }}</mat-card-subtitle>
        <mat-card-subtitle class="card-subtitle"> Gender: {{ personagens.gender }}</mat-card-subtitle>
        <mat-card-subtitle class="card-subtitle"> Episodes: {{personagens.episode }} </mat-card-subtitle>

      </mat-card-header>
    </div>


    <div fxLayout="row" fxLayoutAlign="end center">
    
      <button mat-raised-button color="primary" (click)=backHome() class="btn-back-home"> Home</button>
    </div>
  </mat-card>

</div>


</div>
